services:
  php:
    container_name: php
    build:
      dockerfile: "./docker/php/Dockerfile"
    volumes:
      - "./src:/var/www/html"
  nginx:
    container_name: nginx
    build:
      dockerfile: "./docker/nginx/Dockerfile"
    ports:
      - "8000:80"
    volumes:
      - "./src:/var/www/html"
    depends_on:
      - php
      - db
  db:
    container_name: db
    build:
      dockerfile: "./docker/db/Dockerfile"
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: database
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    volumes:
      - ./docker/db/data:/var/lib/mysql
      - ./docker/db/my.cnf:/etc/mysql/conf.d/my.cnf
      - ./docker/db/sql:/docker-entry-point-initdb.d
    ports:
      - 3306:3306
  phpmyadmin:
    container_name: phpmyadmin
    image: phpmyadmin
    environment:
      PMA_USER: root
      PMA_PASSWORD: password
    ports:
    - 8080:80